<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body" >
            <h4 class="card-title"> Demande Soutien Type A </h4>

              <form [formGroup]="editAction">


                <div class="form-row" id = "htmlData">
                  <div class="form-group col-md-6">

                    <p><b>N° Demande: </b></p>
                  </div>
                  <div class="divider">
                    <span></span><span>Informations Demandeur</span><span></span>
                  </div>


                  <div class="form-group col-md-6">

                    <p>Nom : <b>{{demandeDetails.nom}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Prénom : <b>{{demandeDetails.prenom}} </b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p>Email : <b>{{demandeDetails.email}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>N° Téléphone : <b>{{demandeDetails.numtel}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Fonctionnalité au sein de l'établissement :<b> {{isProfesseur()}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_prof">

                    <p>Grade : <b>{{demandeDetails.libelle}}</b></p>
                  </div>

                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p>Fonctionnaire ou salarié : <b>{{isOfficiel()}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p>Année Thèse : <b>{{demandeDetails.annee_these}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p>Directeur Thèse : <b>{{demandeDetails.directeur_these}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p>CED : <b>{{demandeDetails.ced}}</b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p>Etablissement : <b>{{demandeDetails.etablissement}}</b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p>Département : <b>{{demandeDetails.departement}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Entité Recherche : <b>{{demandeDetails.entite_de_recherche}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Responsable Entité:<b> {{demandeDetails.responsable_entite}}</b></p>
                  </div>

                  <div class="divider">
                    <span></span><span>Information sur {{getTitle()}}</span><span></span>
                  </div>
                  <div class="form-group col-md-6">


                    <p>Objet de la {{getTitle()}} : <b>{{demandeDetails.intitule}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b></b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Pays : <b>{{demandeDetails.pays}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Ville : <b>{{demandeDetails.ville}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Date Début : <b>{{demandeDetails.date_debut}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Date fin : <b>{{demandeDetails.date_fin}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Date Départ : <b>{{demandeDetails.date_depart}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Date Retour : <b>{{demandeDetails.date_retour}}</b></p>
                  </div>

                  <div class="form-group col-md-6"  *ngIf = "!is_miss">

                    <p> Intitulé de  la participation :<b>{{demandeDetails.intitule_participation}}</b></p>
                  </div>

                  <div class="form-group col-md-6"  *ngIf = "!is_miss">

                    <p> Nature de la participation :<b>{{demandeDetails.nature_participation}}</b></p>
                  </div>


                  <div class="form-group col-md-6" *ngIf = "is_miss">

                    <p>Projet Financé : <b>{{isFinance()}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_miss">

                    <p>Préciser le cadre : <b>{{demandeDetails.cadre}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_miss">

                    <p>Intitulé du projet de coopération :<b>{{demandeDetails.intitule_projet}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_miss">

                    <p>Responsable marocain du projet :<b>{{demandeDetails.respo_marocain}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_miss">

                    <p>Partenaire(s) étranger(s) impliqué(s) :<b>{{demandeDetails.respo_etranger}}</b></p>
                  </div>
                  <div class="divider">
                    <span></span><span>Information sur le soutien</span><span></span>
                  </div>
                  <div class="form-group col-md-6">

                    <p>A-t-il déja bénéficié d'un soutien Type A cette année?: <b>{{isBeneficie()}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b></b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Montant de soutien précedent : <b>{{demandeDetails.montant_soutien_precedent}} DH</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Nature de soutien demandé : <b>{{demandeDetails.type}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>Montant Titre Transport :<b>{{montants[1].montant}} DH</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Montant Titre Transport édité</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder=""
                      formControlName="montantTransport"
                    >
                  </div>
                  <div class="form-group col-md-6">

                    <p>Montant Frais D'inscription : <b>{{montants[2].montant}} DH</b></p>
                  </div>
                  <div class="form-group col-md-6" id ="exclude">
                    <label for="inputPassword4">Montant Frais D'inscription édité</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder=""
                      formControlName="montantInscription"
                    >
                  </div>
                  <div class="form-group col-md-6">

                    <p>Montant Hébergement: <b>{{montants[0].montant}} DH</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Montant Hébergement édité</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder=""
                      formControlName="montantHeberegement"
                    >
                  </div>
                  <div class="form-group col-md-6">

                    <p> Autre Montant: <b>{{montants[3].montant}} DH</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Autre Montant édité</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder=""
                      formControlName="autreMontant"
                    >
                  </div>










                </div>







                <div class="form-group col-md-12">
                  <button (click)="modifySoutien()" style=" margin-left: 20px;" type="button" class="btn btn-warning">Modifier le soutien</button>
                  <button (click)="validchanges()" style=" margin-left: 20px;" type="button" class="btn btn-success">Valider</button>
                  <button (click)="refusedchanges()"style=" margin-left: 20px;" type="button" class="btn btn-outline-danger">Refuser</button>
                  <button (click)="openPDF()" style=" margin-left: 20px;"  type="button" class="btn btn-secondary">Imprimer</button>
                  <button  (click)="open(mymodal)" style=" margin-left: 20px;"  type="button" class="btn btn-primary">pièce(s) manquante(s)</button>
                  <ng-template #mymodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Send</button>
                    </div>
                  </ng-template>



                </div>
              </form>
            </div>


        </div>
        </div>
      </div>
  </div>
</div>
