<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body" id = "htmlData">
            <h4 class="card-title"> Demande Soutien Type A </h4>

              <form>


                <div class="form-row">
                  <div class="form-group col-md-6">

                    <p><b>N° Demande: </b></p>
                  </div>
                  <div class="divider">
                    <span></span><span>Informations Demandeur</span><span></span>
                  </div>


                  <div class="form-group col-md-6">

                    <p><b>Nom : {{demandeDetails.nom}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Prénom : {{demandeDetails.prenom}} </b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p><b>Email : {{demandeDetails.email}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p>N° Téléphone : <b>{{demandeDetails.numtel}} </b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Fonctionnalité au sein de l'établissement : {{isProfesseur()}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "is_prof">

                    <p><b>Grade : {{demandeDetails.libelle}}</b></p>
                  </div>

                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p><b>Fonctionnaire ou salarié : {{isOfficiel()}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p><b>Année Thèse : {{demandeDetails.annee_these}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p><b>Directeur Thèse : {{demandeDetails.directeur_these}}</b></p>
                  </div>
                  <div class="form-group col-md-6" *ngIf = "!is_prof">

                    <p><b>CED : {{demandeDetails.ced}}</b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p><b>Etablissement : </b></p>
                  </div>

                  <div class="form-group col-md-6">

                    <p><b>Département : {{demandeDetails.departement}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Entité Recherche : {{demandeDetails.entite_de_recherche}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Responsable Entité: {{demandeDetails.responsable_entite}}</b></p>
                  </div>

                  <div class="divider">
                    <span></span><span>Information sur la mssion ou stage</span><span></span>
                  </div>
                  <div class="form-group col-md-6">


                    <p><b>Objet d la mission ou stage : {{demandeDetails.intitule}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b></b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Pays : {{demandeDetails.pays}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Ville : {{demandeDetails.ville}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Date Début : {{demandeDetails.date_debut}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Date fin : {{demandeDetails.date_fin}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Date Départ : {{demandeDetails.date_depart}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Date Retour : {{demandeDetails.date_retour}}</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Projet Financé :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Préciser le cadre :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Intitulé du projet de coopération :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Responsable marocain du projet :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Partenaire(s) étranger(s) impliqué(s) :</b></p>
                  </div>
                  <div class="divider">
                    <span></span><span>Information sur le soutien</span><span></span>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Avez-vous déja bénéficié d'un soutien Type A cette année?:</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b></b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Préciser le montant :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Nature de soutien demandé :</b></p>
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Montant Titre Transport :</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Montant Titre Transport édité</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Montant Frais D'inscription :</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Montant Frais D'inscription édité</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                  <div class="form-group col-md-6">

                    <p><b>Montant Hébergement:</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Montant Hébergement édité</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                  <div class="form-group col-md-6">

                    <p><b> Autre Montant :</b></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Autre Montant édité</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="">
                  </div>










                </div>







                <div class="form-group col-md-6">
                  <button (click)="validchanges()" style=" margin-left: 20px;" type="button" class="btn btn-primary">Valider</button>
                  <button (click)="refusedchanges()"style=" margin-left: 20px;" type="button" class="btn btn-outline-danger">Refuser</button>
                  <button (click)="openPDF()" style=" margin-left: 20px;"  type="button" class="btn btn-secondary">Imprimer</button>
                  <button  (click)="open(mymodal)" style=" margin-left: 20px;"  type="button" class="btn btn-warning">pièce(s) manquante(s)</button>
                  <ng-template #mymodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Send</button>
                    </div>
                  </ng-template>



                </div>
              </form>
            </div>


        </div>
        </div>
      </div>
  </div>
</div>
