<div class="main-panel"style="width:100%">

    <div class="content-wrapper" >
      <div class="row">
        <div class="col-lg-20 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Tous les demandeurs </h4>

              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" datatable style="width:100%">
                  <thead>
                      <tr>
                          <th>Id </th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Email</th>
                          <th>Telephone</th>
                          <th>Fonctionnalité</th>

                          <th>Operations</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td>1</td>
                      <td>Mseggar</td>
                      <td>Fati</td>
                      <td>fatima@gmail.com</td>
                      <td>0645127819</td>
                      <td>Enseignant Chercheur</td>
                      <td>
                      <button  (click)="open(mymodal)" style=" margin-left: 20px;"  type="button" class="btn btn-warning">Plus D'infos</button>
                  <ng-template #mymodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Infos Demandeurs</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <p><b>Grade :</b></p>
                        <p><b>Fonctionnaire ou salarié :</b></p>
                        <p><b>Année Thèse :</b></p>
                        <p><b>Directeur Thèse :</b></p>
                        <p><b>CED :</b></p>
                        <p><b>Etablissement :</b></p>
                        <p><b>Département :</b></p>
                        <p><b>Entité Recherche :</b></p>
                        <p><b>Responsable Entité:</b></p>





                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">OK</button>
                    </div>
                  </ng-template>

                </td>
                    </tr>


              </table>
              </div>
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
