<div class="main-panel"style="width:100%">

   
      <div class="row"style="margin-left: 100px; margin-top: 50px;">
        <div class="col-lg-20 grid-margin stretch-card"style=" width: 900px;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Tous les demandeurs </h4>

              <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
                  <thead>
                      <tr>
                          <th>Id </th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Email</th>
                          <th>Telephone</th>
                          <th>Fonctionnalité</th>

                          <th>Operations</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let demandeur of demandeurs">

                      <td>{{demandeur.id}}</td>
                      <td>{{demandeur.nom}}</td>
                      <td>{{demandeur.prenom}}</td>
                      <td>{{demandeur.email}}</td>
                      <td>{{demandeur.numtel}}</td>
                      <td>{{getFonction(demandeur.is_professeur)}}</td>
                      <td>
                      <button  (click)="open(mymodal)" style=" margin-left: 20px;"  type="button" class="btn btn-warning">Plus D'infos</button>
                  <ng-template #mymodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Infos Demandeurs</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <p><b>Grade :</b></p>
                        <p><b>Fonctionnaire ou salarié :</b></p>
                        <p><b>Année Thèse :</b></p>
                        <p><b>Directeur Thèse :</b></p>
                        <p><b>CED :</b></p>
                        <p><b>Etablissement :</b></p>
                        <p><b>Département :</b></p>
                        <p><b>Entité Recherche :</b></p>
                        <p><b>Responsable Entité:</b></p>





                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">OK</button>
                    </div>
                  </ng-template>

                </td>
                    </tr>


              </table>
              </div>
            </div>
          </div>
        </div>
              </div>
          
          </div>
