
<body class="A4" id = "htmlData">
    <section id="front" class="sheet padding-20mm first-page">
        <header>

            <img src="./assets/images/logo.png" alt="logo" class="image"/>
            <div id="receiver" class="presid">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   Royaume du Maroc<br>
            Universite Cadi Ayyad Marrakech <br>
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   La presidence

            </div>

        </header>


        <div class="content">
            <hr>
            <div id="receiver" class="to">

                Président<br>
                A<br>
                Monsieur {{lettreInfos.demandeur.nom}} {{lettreInfos.demandeur.prenom}}<br>
                Sc de <br>
                Monsieur le Doyen de la Faculté<br>
                {{lettreInfos.etablissement.libelle}}<br>
                Marrakech

            </div>
            <div id="receiver" class="to">
                Objet: Votre demande de soutien pour participer à une {{isMission()}}<br>
                Ref:<br>
            </div>
            <div id="receiver" class="to">
                Monsieur,<br>

            </div>




            <p style ="margin-left: 60px;"> Suite à votre demande de soutien pour participation à {{isMission()}} intitulée
                : {{lettreInfos.demande.intitule}},
                 qui aura lieu en {{lettreInfos.demande.pays}}, du {{lettreInfos.demande.date_debut}} au {{lettreInfos.demande.date_fin}},
                 j’ai le plaisir de porter à votre connaissance qu’une dotation à hauteur de {{lettreInfos.montantCalcule}} Dirhams
                 vous a été attribuée pour couvrir les frais.</p>
                 <p style ="margin-left: 60px;"> Par ailleurs, je vous prie de nous transmettre
                     au plus tard 4 semaines après votre retour :</p>
                     <p style ="margin-left: 120px;"> - Pièces Jointes.
                        </p>
                        <p style ="margin-left: 120px;"> - Pièces Jointes.
                        </p>
                 <p style ="margin-left: 60px; margin-bottom: 400px;" > Veuillez agréer, Monsieur, l'expression de
                    mes meilleures salutations.</p>


        </div>
    </section>
    <section class="sheet padding-20mm map">
        <hr>
        <footer>
            <div id="receiver" class="presid">
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   Presidence Universite Cadi Ayyad Marrakech<br>
            &nbsp; &nbsp;  Bd. Abdelkrim El Khattabi, B.P. 511- Marrakech <br>
            Tél: 05.24.43.48.14/05 24 43 77 41 -Fax: 05.24.43.44.94<br>
            &nbsp;&nbsp;  Email : presidence@uca.ma Site web: www.uca.ma<br>

            </div>

        </footer>
    </section>
</body>



