
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Les Demmandes Acceptées </h4>

              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" datatable style="width:100%">
                  <thead>
                    <tr>
                      <th>Code Demande</th>
                      <th> Demandeur</th>
                      <th>Date de Creation</th>
                      <th>Status</th>
                      <th>Modifier</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let demande of demandes">
                      <td>53275531</td>
                      <td>{{demande.nom}}  {{demande.prenom}}</td>
                      <td>{{demande.created_at}}</td>
                      <td><label class="badge badge-success" style="color:black">Acceptée</label></td>
                      <td>
                        <button id="open" type="button"class="btn btn-primary btn-sm" [routerLink]="['/edit',demande.id]">En Savoir plus</button>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
